{% extends "base.html" %}

{% block jumbotron %}
  <img src="{{ url_for('static', filename='imgs/icon.png') }}">
  <h1>Reddit Explorer</h1>
  <p>Welcome to Reddit Explorer!  Click something below to get started.</p>   
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h3>Subreddits / Users</h3>
        <p>Statistics and explorations about the users of Reddit and communities they belong to.</p>
      </div>
      <div class="col-lg-4">
        <h3>Posts / Comments</h3>
        <p>What people are saying.  And what people are saying about what people are saying.</p>
      </div>
      <div class="col-lg-4">
        <h3>ML Models</h3>        
        <p>Can neural nets learn something about Reddit?</p>
      </div>
    </div>
  </div>
{% endblock %}