{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/scrollytelling.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/models.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/fade.js') }}"></script>
<script src="{{ url_for('static', filename='js/image_comments.js') }}"></script>
<script src="{{ url_for('static', filename='js/models.js') }}"></script>
<script src="{{ url_for('static', filename='js/models_waypoints.js') }}"></script>
{% endblock %}

{% block jumbotron %}
<h1>ML Models</h1>
<p>Can neural nets learn something about Reddit?</p> 
{% endblock %}

{% block content %}
<div>
  <div class="fixed hidden" id="postScorerInputs">
    <div class="hidden" id="titleInputDiv">
      <h2>Post Scorer</h2>
      <label for="titleInput">Title:</label>
      <input type="text" id="titleInput">
    </div>
    <div class="hidden" id="timeInputDiv">
      <label for="timeInput">Time:</label>
      <input type="time" id="timeInput">
    </div>
    <div class="hidden" id="dateInputDiv">
      <label for="dateInput">Date:</label>
      <input type="date" id="dateInput">
    </div>
    <div class="hidden" id="scorePostDiv">
      <button id="scoreSubmit" class="btn">Score Post</button><br>
      <p id="scoreResult"></p>
    </div>
  </div>

  <div class="fixed hidden" id="imageExamples">
    <h3>Example Images</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tr>
        <td> 
          <img src="{{ images['snow'] }}" alt="snowman">
        </td>
        <td>a man is skiing down a snowy hill</td>
        <td>looks like the highway to heaven</td>
      </tr>
      <tr>
        <td> 
          <img src="{{ images['lunchbox'] }}" alt="lunchbox">
        </td>
        <td>a plate of food with meat and vegetables</td>
        <td>you gonna eat that</td>
      </tr>
      <tr>
        <td>
          <img src="{{ images['parrot'] }}" alt="parrot"> 
        </td>
        <td>a small bird on a tree branch with a blurry background</td>
        <td>you found a fossil</td>
      </tr>
    </table>
  </div>

  <div class="fixed hidden" id="imageUploadDiv">
    <h2>Image Upload</h2>
    <form action="/result" method=post enctype=multipart/form-data>
      <div class="input-group">
        <input type=file name=file>
        <input type=submit value=Upload id="imageUpload">
      </div>
    </form>
  </div>

  <div class="fixed hidden" id="imageComments">
    <h2>Real Reddit Comments</h2>
    <table class="table" id="commentTable">
      <thead>
        <tr>
          <th>Image</th>
          <th>Comment</th>
          <th>Score</th>
        </tr>
      </thead>
      <tr id="commentRow"></tr>
    </table>
    <button class="btn" id="seeAnother">See Another</button>
  </div>

  <div class="container">
    <div id="postScorerDiv1">
      <h2>Post Scorer</h2>
      Can we take what we've learned and use it to help judge whether a post a perform well on
      Reddit?
    </div>
    <div id="postScorerDiv2">
      Try typing in a title of a post you think would do well on 
      <a href="http://www.reddit.com/r/askreddit">AskReddit</a>.
    </div>
    <div id="postScorerDiv3">
      We've seen some temporal relationships between how well a post does and the time it is posted. 
      Select a time for your post (PST timezone).
    </div>
    <div id="postScorerDiv4">
      We've also seen that different days of the year have different amounts of subreddit activity. 
      Pick a date for your post.
    </div>
    <div id="postScorerDiv5">
      Score your post! How does our model think it'll do? Play around with different titles. Try 
      intentional misspellings or grammatical mistakes. More subreddits support to come soon
      <sup>TM</sup>.
    </div>

    <div id="imageCaptionDiv1">
      <h2>Image Captioner</h2>
      Text posts are only a small portion of those on Reddit. Most posts link to some sort of media 
      such as an image or video. We also trained a model automatically generate titles and comments 
      from a seed image.
    </div>
    <div id="imageCaptionDiv2">
      Here are some examples.
    </div>
    <div id="imageCaptionDiv3">
      Try uploading your own image! Just be aware that the training data for our model comes from 
      the internet, where not everyone and everything are civil and nice. But upload a picture of a
      cute cat and it should be fairly tame!
    </div>

    <div id="imageCommentsDiv1">
      We also ran our comment generation model on some real reddit posts. Here are some images, the 
      generated comment, and the resulting comment score (upvotes minus downvotes). Note that brand 
      new posts on reddit start with a score of 1.
    </div>
    <div id="imageCommentsDiv2">
      Our best post.
    </div>
    <div id="imageCommentsDiv3">
      Our worst post.
    </div>
    <div id="imageCommentsDiv4">
      You can see all of our posts <a href="/image_comments_table">here</a>.
    </div>

    <div id="conclusion">
      You've seen what ML models can do for generating reddit titles and comments. Now explore the
      <a href="/subreddits2">subreddits</a> or <a href="/posts2">posts</a> of Reddit!
    </div>
 </div>
</div>

 {% endblock %}