{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/scrollytelling.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/fade.js') }}"></script>
<script src="{{ url_for('static', filename='js/post_stats.js') }}"></script>
<script src="{{ url_for('static', filename='js/post_calendar.js') }}"></script>
<script src="{{ url_for('static', filename='js/posts_waypoints.js') }}"></script>
{% endblock %}

{% block jumbotron %}
  <h1>Posts / Comments</h1>
  <p>What users are saying. And what users are saying about what users are saying.</p> 
{% endblock %}

{% block content %}
<div>
  <!-- Fixed divs for visualizations -->
  <div id="tooltip"></div> 

  <div class="fixed hidden" id="postStatsViz">
    <h2 id=postStatsTitle></h2>
  </div>

  <div class="fixed hidden" id="postCountViz">
    <h2>Post Calendar</h2>
    <input id="subredditInput" type="text" onfocus="this.value=''" placeholder="Subreddit">
    <button id="subredditSubmit" class="btn">Get Post Counts</button>
    <form>
      <input type="radio" name="stack" id="relativeRadio" checked="checked">Relative
      <input type="radio" name="stack" id="absoluteRadio">Absolute
    </form>
    <div id="postCountVisualization"></div>
    <p id="postStatus"></p>
  </div>

  <div class="fixed hidden" id="otherVizzes">
    <table class="table" id="subredditTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tr>
        <td><a href="/cal">Long term heatmap</a></td>
        <td>A longer term look at reddit post density</td>
      </tr>
      <tr>
        <td><a href="/redditcomments">Comment word map</a></td>
        <td>A word map of terms used in comments</td>
      </tr>
      <tr>
        <td><a href="/redditauthor">Authors</a></td>
        <td>A treemap of authors</td>
      </tr>
      <tr>
        <td><a href="/treemap">Subreddit treemap</a></td>
        <td>A treemap of the various subreddits</td>
      </tr>
    </table>
  </div>


  <!-- Divs in containers for explainer text -->
  <div class="container">
    <div id="introduction">
      <h2>Posts</h2>
      Posts are the heart of reddit content. Here are some statistics about them.
    </div>
    <div id="postStatsDiv1">
      Some posts, termed "self posts", contain only text content. Everything else carries some sort 
      link to content like an image, video, or external website.
    </div>
    <div id="postStatsDiv2">
      About 41% of posts are text only.
    </div>
    <div id="postStatsDiv3">
      
    </div>
    <div id="postCountDiv1">
      <h2>When People Are Posting</h2>
      What were the busiest days of 2018?
    </div>
    <div id="otherVizzesDiv1">
      <h2>Other Visualizations</h2>
      Here are some other visualization 
    </div>
    <div id="conclusion">
      You've learned a few statistics about posts on reddit. Now explore how they are organized into 
      <a href="/subreddits2">subreddits</a> or see how machine learning <a href="/posts2">models</a> 
      can generate posts.
    </div>
  </div>
</div>

{% endblock %}