{% extends "base.html" %}

{% block jumbotron %}
<h1>Subreddits / Users</h1>
<p>Statistics and explorations about the users of Reddit and communities they belong to.</p> 
{% endblock %}

{% block content %}


<div class="container">
  <h2>What is a Subreddit?</h2>
  <div class="row">   
    <div class="col-lg-4">
      <p>
        Reddit is divided into several message boards centered around specific purposes and topics.
        Users may subscribe to these "subreddits" in order to receive updates to their front page,
        customized to their own interests.
      </p>
      <p>
        This table shows the top 10 subreddits by subscriber count. Some subreddits have names
        that are quite self explantory, like <a href="https://reddit.com/r/science">science</a>, while
        others, like <a href="https:reddit.com/r/askreddit">AskReddit</a>, require visiting them to
        understand their purpose.
      </p>
    </div>

    <div class="col-lg-8">
      <table class="table table-responsive-sm" id="subredditTable">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Subreddit</th>
            <th>Subscribers</th>
          </tr>
        </thead>
      </table>
      <small>Data from <a href="https://redditlist.com">redditlist.com</a></small>
      <script src="{{ url_for('static', filename = 'subreddit_subscribers.js') }}"></script>
    </div>
  </div>

  <hr>

  <h2>Subreddit Embeddings</h2>
  <div class="row">
    <div class="col-lg-4">
      <p>
        Intuitively, certain subreddits will be similar to each other based on the topic and users
        within them. It would be interesting if we could quantify this similarity. 
      </p>
      <p>
        To do so, we utilize a technique often used in ML and NLP to "embed" each subreddit into a
        vector space, so that we can perform mathematical calculations of similarity on them. These
        embeddings were trained using a
        <a href="https://en.wikipedia.org/wiki/Word2vec">word2vec</a> style, where user and
        subreddit embeddings were simultaneously co-trained.
      </p>
      <p>
        The visualization on the right shows the ten most similar subreddits to center one, with
        similarity measured as the Euclidean distance between two subreddits' embeddings. Euclidean
        similarity was chosen over cosine similarity purely because the former is faster to
        calculate and the semantic meaning is pretty much the same.
      </p>
    </div>
    <div class="col-lg-8">
      <input id="subredditInput" type="text" onfocus="this.value=''" placeholder="Subreddit">
      <button id="subredditSubmit" class="btn">Get Similar Subreddits</button>

      <div id="subredditVisualization" style="display: inline-block;"></div>
      <script src="{{ url_for('static', filename = 'subreddit_visualization.js') }}"></script>
      <small>
        Data from <a href="https://snap.stanford.edu/data/web-RedditEmbeddings.html">here</a>
      </small>
    </div>
  </div>

  

<!--   <p>Something similar to the below picture. Maybe built with D3 and not in 3D. Have the ability to click on a subreddit and move to neighbors based off of embedding similarity.</p>
  <img src="https://minimaxir.com/img/reddit-graph/rd_comments_net_hd.png" height="400">

  <h2>Pretty Graphs</h2>
  <img src="https://media.wired.com/photos/593278f0a31264584499534b/4:3/w_1400,c_limit/redditwide.jpg" height="400">

  <h2>User Exploration</h2>
  <p>Maybe have something similar for users. Have to think about the ethics of this one but I don't think it's too bad.</p> -->
</div>
{% endblock %}