@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');
*{
  margin:0;
  padding:0;
}
html,
body {
  height: 100%;
  padding: 0;
  scroll-behavior: smooth;
  background: #f7f5f2;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
h2 {
  line-height: 1.25;
  padding-top: 45px;
  font-weight: 300;
}
svg {
  padding: 20px;
}
text {
  font-size: 14px;
}
strong {
  font-weight: 600;
}
#graphic {
  position: relative; 
  width: 100%;
  height: 100%;
  margin: auto;
}
.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  line-height: 1.5;
  left: 60%;
}
.container div {
  height: 100%;
  display: block;
  width: 40%;
  /*padding: 0 45px;*/
}
.fixed {
  position: fixed;
  max-width: 60%;
  height: 100%;
  top: 10%;
  left: 10%;
}
/*.fixed svg {
  position: absolute;
  left: 0%;
  top: 0%;
}*/
.hidden {
  visibility: hidden;
}
